@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src:  url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* Общие стили */

body {
  margin: 0;
  
  font-family: 'Open Sans', Arial, sans-serif;
  color: #000000;

  background: rgba(255, 255, 255, 1);
}

h2, h3 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center-container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  /* outline: 1px solid skyblue; */
}

/* Стили для хедера */

.site-header {
  width: 1040px;
  min-height: 186px;
  margin: 40px auto 0;
  padding: 0 60px;

  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
}

.site-header-logo {
  display: block;
  margin-bottom: 22px;
}

.site-header-logo svg {
  margin-top: -20px;
}

.header-container {
  display: flex;
  min-height: 95px;
  justify-content: space-between;
  /* outline: 1px solid violet; */
}

.header-left-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
}


.site-header ul,
.site-footer ul {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.header-search-form {
  position: relative;

  display: flex;
}

.header-search-form .search-label {
  position: absolute;
  left: 37px;
  top: 3px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.header-search-form .search-label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-search-form input {
  height: 45px;
  width: 356px;
  padding-left: 35px;
  padding-top: 0;
  padding-bottom: 10px;

  background: transparent;
  border: none;
  outline: none;
}

.header-search-form::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 10px;
  left: 2px;
  background: url('../img/search.svg') no-repeat;
}

.header-search-form:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-search-form input:focus {
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.search-field:focus ~  .search-label {
  display: none;
}

.search-field:focus ~ .search-button {
  opacity: 1;
}


.header-search-form button {
  opacity: 0;

  padding-left: 21px;
  padding-right: 21px;
  height: 45px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(0, 0, 0, 1);

  border: solid 2px rgba(0, 0, 0, 1);
  outline: none;
  background: transparent;
}

.header-search-form button:hover,
.header-search-form button:focus {
  opacity: 1;
  outline: none;
  color: rgba(255, 255, 255, 1);
  
  background: rgba(0, 0, 0, 1);
}

.header-search-form button:active {
  opacity: 1;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.header-right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.header-user-menu,
.header-details-menu {
  display: flex;
  margin: 0;

  padding-left: 0;
}

.header-user-menu {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
}


.header-user-menu a {
  position: relative;

  padding-left: 30px;
}

.header-user-menu a::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  top: 0;
}

.header-user-menu a.user::before {
  background-image: url('../img/user.svg');
  left: 0;    
  top: 2px;
}

.header-user-menu a.compare::before {
  background-image: url('../img/compare.svg');
  left: 8px;    
  top: 2px;
}

.header-user-menu a.cart::before {
  background-image: url('../img/cart.svg');
  left: 7px;
  top: 2px;    
}

.header-user-menu a:hover,
.header-user-menu a:focus {
  opacity: 0.6;
}

.header-user-menu a:active {
  opacity: 0.3;
}


.header-user-menu button {
  margin-left: 10px;

  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

.header-user-menu li {
  margin-left: 32px;
}

.header-user-menu li:first-child {
  margin-left: 0;
  margin-right: auto;
}

.header-user-menu .user {
  padding-left: 25px;
}

.header-details-menu li {
  margin-right: 35px;
}

.header-details-menu li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.header-details-menu a,
.header-left-menu a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
}

/* Состояния ссылок в хэдере */
.site-header-logo:hover,
.site-header-logo:focus {
  outline: none;
  opacity: 0.6; 
}

.site-header-logo.current {
  opacity: 1;
}

.site-header-logo:active {
  outline: none;
  opacity: 0.3; 
}

.header-user-menu input:hover,
.header-details-menu a:hover,
.header-catalog-menu a:hover,
.header-user-menu input:focus,
.header-details-menu a:focus,
.header-catalog-menu a:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.header-user-menu input:active,
.header-details-menu a:active,
.header-catalog-menu a:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

/* Стили для выпадающего меню каталога */

.header-catalog-sections {
  position: absolute;
  z-index: 1;
  left: -60px;
  top: 23px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 130px;
  width: 1040px;
  padding: 22px 60px 12px 60px;

  background: rgba(247, 226, 150, 1);

  
}

.header-catalog-sections:hover {
  visibility: visible;
}

.header-catalog-sections li {
  margin-right: 58px;
}

.header-catalog-sections li:nth-last-child(2) {
  margin-bottom: 30px;
}

.header-catalog-sections li:last-child {
  margin-left: 15px;
}

.header-catalog-sections a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.header-catalog-menu {
  position: relative;
  margin-top: 27px;
}

.header-catalog-title:hover + .header-catalog-sections,
.header-catalog-title:focus + .header-catalog-sections {
  visibility: visible;
}

.header-catalog-title {
  position: relative;
  padding-right: 27px;
}

.header-catalog-title::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 24px;
  background: url('../img/plus.svg') no-repeat;
  background-position: right;
  top: -3px;
  right: 0;
  opacity: 0.3;
}

/* .header-catalog-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  right: 7px;
  margin-top: -7px;
} */



/* Стили для всех кнопок-ссылок в мэйн */
.main-button {
  display: inline-block;
  min-height: 30px;
  padding: 5px;
  width: auto;
  
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  
  /* background-color: #f0c52e; */
  background: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;
}

.main-button:hover,
.main-button:focus {
  background-color: #f0c52e; 
}

.main-button:active {
  background-color: #f0c52e;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}


/* Стили для кнопок закрытия поп-апов  */

.close-btn {
  border: none;
}


/* Стили для спец. предложений */
.special-offers {
  position: relative;
  margin-bottom: 105px;
}

.special-offers ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.offer-card {
  display: none;
}

.offer-card.current {
  display: block;
}

.special-offers p {
  margin-top: 0;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

.special-offers .offers-number {
  position: relative;
  z-index: -1;

  height: 113px;
  margin: 0;
  padding-right: 48px;
  
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 179px;
  line-height: 157px;
  letter-spacing: 1.79px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  
  background:rgba(240, 197, 46, 0.5);
}

.offers-number::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  right: 460px;
  top: 40px;

  background: rgba(255, 255, 255, 1);
}

.offers-container {
  display: flex;
  justify-content: space-between;
  margin-top: -113px;  
}

.offers-img-wrapper {
  flex-basis: 560px;
  box-sizing: border-box;
}

.offers-txt-wrapper {
  flex-basis: 580px;
  box-sizing: border-box;
}

.special-offers .lead {
  margin-bottom: 20px;
  
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.special-offers .main-button {
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 210px;
}

.special-offers th {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: left;
}

.special-offers td {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.special-offers .offers-navigation {
  position: absolute;
  top: 318px;
  left: 1008px;

  display: flex;
}

.offers-navigation .slider-btn {
  width: 4px;
  height: 4px;
  padding: 0;
  margin: 15px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 
    0 0 0 3px rgba(255, 255, 255, 1), 
    0 0 0 4px rgba(0, 0, 0, 1);
}

.offers-navigation .slider-btn.current {
  border: 1px solid rgba(0, 0, 0, 1);
}


/* Стили для первого слайда */

 .offer-card:first-child .offers-img-wrapper {
  padding-left: 90px;
}

.offer-card:first-child .offers-txt-wrapper {
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 80px;
  width: 485px;
}

.offer-card:first-child td {
  padding-right: 80px;
}

.offer-card:first-child td:last-child {
  padding-right: 0;
}

/* Стили для второго слайда */

 .offer-card:nth-child(2) .offers-img-wrapper {
  padding-left: 115px;
  padding-top: 15px;
}
  
.offer-card:nth-child(2) .offers-txt-wrapper {
  padding-left: 20px;
  padding-top: 82px;
} 

/* Стили для третьего слайда */

.offer-card:nth-child(3) .offers-img-wrapper {
  padding-left: 30px;
  padding-top: 67px;
}

.offer-card:nth-child(3) .offers-txt-wrapper {
  padding-left: 20px;
  padding-top: 80px;
  width:505px;
}

.offers-card:nth-child(3) p:nth-child(2) {
  padding-right: 80px;
}

.offer-card:nth-child(3) td {
  padding-right: 50px;
}

.offer-card:nth-child(3) td:last-child {
  padding-right: 0;
}


/* Стили для разделов каталога */
.catalog-sections {
  margin-bottom: 80px;
}
.catalog-sections ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-sections li {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.catalog-sections li:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sections a {
  position: relative;
  display: block;
  width: 160px;
  padding-top: 195px;
  background: linear-gradient(rgba(240, 197, 46, 0.5) 160px, transparent 160px, transparent 100%);
  /* background: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%); */
}

.catalog-sections a::before {
    width: 160px;
    height: 160px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    /* background: rgba(240, 197, 46, 0.5); */
    top: 0;
    background-position: 50% 50%;
}

.catalog-sections .vr::before {
  background-image: url('../img/popular-1.svg');
}

.catalog-sections .monopode::before {
  background-image: url('../img/popular-2.svg');
  background-position-y: bottom;
}

.catalog-sections .action-camera::before {
  background-image: url('../img/popular-3.svg');
  background-position: 50px 40px;
}

.catalog-sections .fitness-bracelet::before {
  background-image: url('../img/popular-4.svg');
  background-position-y: 50px;
}

.catalog-sections .smart-watches::before {
  background-image: url('../img/popular-5.svg');
  background-position: 55px 35px;
}

.catalog-sections .qwadrocopter::before {
  background-image: url('../img/popular-6.svg');
  background-position-y: 50px;
}

.catalog-sections a:hover,
.catalog-sections a:focus {
  background: linear-gradient(rgba(240, 197, 46, 1) 160px, transparent 160px, transparent 100%);
}

.catalog-sections a:active::before {
  opacity: 0.3;
} 


/* Стили для условий покупки */

.purchase-services {
  /* background-color: #e5e5e5; */
  background-image: linear-gradient(transparent 100px,#e5e5e5 100px, #e5e5e5 100%);
  margin-bottom: 95px;
}

.purchase-services .center-container {
  display: flex;
  min-height: 388px;
}

.purchase-services ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.purchase-services-filter {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 80px;
  padding-left: 0;
  align-items: flex-start;
  width: 278px;
  /* outline: 1px solid salmon; */
}

.purchase-services-filter::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  top: 0;
  left: 100%;
  background: #000000;
}

.purchase-services-filter li {
  margin-bottom: 24px;
}

.purchase-services-filter li.current {
  width: 278px;
  background: black;
}

.purchase-services-filter a.current {
  color: #f0c52e;
  background: rgba(0, 0, 0, 1);
  /* width: 278px; */
}

.purchase-services-filter a {
  min-width: 150px;
}
.purchase-services-items {
  padding-left: 122px;
}

.purchase-services-items li {
  position: relative;
  display: none;
}

.purchase-services-items li::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
}

.purchase-services-items li:first-child::after {
  background-image: url('../img/delivery.svg');
  top: 12px;
  left: 556px;
}

.purchase-services-items li:nth-child(2)::after {
  background-image: url(../img/warranty.svg);
  top: -11px;
  left: 544px;
}

.purchase-services-items li:nth-child(3)::after {
  background-image: url(../img/credit.svg);
  top: -13px;
  left: 535px;
}

.purchase-services-items li.current {
  display: block;
}

.purchase-services-items h3 {
  margin-top: 72px;
  margin-bottom: 30px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.purchase-services-items p {
  width: 430px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

/* Стили для брендов */

.index-brands {
  margin-bottom: 100px;
}

.index-brands ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
  list-style: none;
}

.index-brands img {
  display: block;
  width: 260px;
  height: 100px;
}

.brands-item {
  display: block;
  width: 260px;
  height: 100px;
}

.brands-item:hover img {
  opacity: 0;
}

.brands-item:nth-child(1):hover {
  background: url('../img/logo-dji-colored.png');
}

.brands-item:nth-child(2):hover {
  background: url('../img/logo-spgadgets-colored.png');
}

.brands-item:nth-child(3):hover {
  background: url('../img/logo-gopro-colored.png');
}

.brands-item:nth-child(4):hover {
  background: url('../img/logo-vive-colored.png');
}

/* Стили для раздела "О нас" */
.about-us,
.main-contacts {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 565px;
}



.about-us::before,
.main-contacts::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  background: #000000;
  width: 80px;
  height: 7px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.about-us {
  flex-basis: 480px;
  /* outline: 1px solid lightcoral; */
}

.main-contacts {
  flex-basis: 560px;
  /* outline: 1px solid lightcoral; */
}

.about-us h2,
.main-contacts h2 {
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
}

.about-us p,
.main-contacts p {
  margin-bottom: 30px;
  margin-top: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #464646;
}

.about-us ul {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;

  list-style: none;
}

.delivery-partners {
  padding-left: 0;
  margin-bottom: 30px;
  margin-top: 35px;
}

.delivery-partners li {
  position: relative;
  padding-left: 35px;
}


.delivery-partners li::before {
  position: absolute;
  content: "";

  width: 4px;
  height: 4px;
  background: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -4px;
}

.about-us .main-button,
.main-contacts .main-button {
  margin-top: auto;
  align-self: flex-start;
  min-width: 250px;
}

.main-contacts a {
  display: block;
  margin-top: 10px;
}

/* Стили для мэйн каталога */

.catalog-page {
  margin-top: 35px;
}

h1.page-title {
  margin-top: 0px;
  margin-bottom: 25px;
  padding-left: 60px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;

  /* outline: 1px solid indigo; */
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 47px;
  padding-left: 60px;

  list-style: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);

  /* outline: 1px solid indigo; */
}

.breadcrumbs li {
  position: relative;

  margin-right: 39px;
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  top: 11px;
  right: -18px;

  content: "";
  width: 5px;
  height: 5px;
  box-sizing: border-box;

  border: 1px solid #000000;
  border-bottom: none;
  border-left: none;

  transform: rotate(45deg);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  outline: none;
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a.current:hover,
.breadcrumbs a.current:focus,
.breadcrumbs a.current:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-page h2 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-wrapper {
  display: flex;
}

.catalog-filter {
  flex-basis: 348px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.catalog-filter .heading-wrapper {
  background: #d9d9d9;
}

.catalog-filter .form-wrapper {
  background: #ebebeb;
  flex-grow: 1;
  padding-top: 70px;
}

.catalog-filter h2 {
  padding-left: 60px;
  width: 268px;
  min-height: 71px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  line-height: 71px;
}

.catalog-filter form {
  padding-left: 60px;
  padding-right: 68px;
  width: 200px;
  margin-left: auto;

  
}

.catalog-filter fieldset {
  padding: 0;
  margin-left: 0;
}

.catalog-filter label {
  cursor: pointer;
}

.catalog-filter-parameter {
  border: none;
  outline: none;
}

.catalog-filter-parameter legend {
  position: relative;
  padding-top: 10px;
  margin-bottom: 25px;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.catalog-filter-parameter legend::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -1px;
  width: 201px;
  height: 2px;
  background: rgba(0, 0, 0, 1);
}

.catalog-filter-parameter:first-child {
  height: 140px;
}

.catalog-filter-parameter.color ul {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 23px;
}

.catalog-filter-parameter.color li {
  position: relative;
  height: 40px;
}

input[type="checkbox"]+label::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  background: url('../img/checkbox-off.svg') no-repeat;
  background-position: 0 0;
  left: -40px;
  top: -3px;
}

input[type="checkbox"]:checked+label::before {
  background: url('../img/checkbox-on.svg');
}

.catalog-filter-parameter.bluetooth label {
  position: relative;
  display: block;
  padding-left: 40px;
  height: 25px;
  margin-bottom: 15px;
  line-height: 25px;
}

input[type="radio"]+label::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  left: 0px;
  top: 0px;
}

input[type="radio"]:checked+label::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background: rgba(0, 0, 0, 1);
  border-radius: 50%;
  left: 8px;
  top: 8px;
}

.catalog-filter label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  /* line-height: 40px; */
  letter-spacing: 0.1px;
}

input:disabled+label,
input:disabled+label:hover {
  opacity: 0.25;
  cursor: auto;
}

.catalog-filter label:hover,
input:focus+label {
  opacity: 0.6;
}


.catalog-filter button {
  width: 100%;
  margin-top: 25px;
}



.catalog-container {
  flex-basis: 853px;
  flex-grow: 1;
}

.catalog-sort-wrapper {
  background: #ebebeb;
  /* outline: 1px solid salmon; */
}

.catalog-sort {
  display: flex;
  width: 832px;
  min-height: 71px;
}

.catalog-sort ul {
  display: flex;
}

.catalog-sort h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 74px;
  line-height: 71px;
}

.catalog-sort ul,
.catalog-list ul {
  list-style: none;
  padding-left: 0;
}

.sort-type {
  margin-left: 55px;
  margin-right: auto;
  margin-bottom: 27px;
  margin-top: 25px;
}

.sort-type a {
  margin-right: 30px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-type a:hover,
.sort-type a:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.sort-type a:active {
  outline: none;
  color: rgba(0, 0, 0, 1);
}

.sort-type a.current {
  color: rgba(0, 0, 0, 1);
}

.sort-order {
  margin-top: 30px;
}

.sort-order li {
  margin-left: 20px;
}

.sort-order a {
  position: relative;
  display: block;
  width: 11px;
  /* margin-left: 20px; */
}

.sort-order a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 0; 
  opacity: 0.2;
}



.sort-order a.direct-order::before {
  border-bottom: 10px solid rgba(0, 0, 0, 1);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 0;
}

.sort-order a.reverse-order::before {
  border-top: 10px solid rgba(0, 0, 0, 1);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 0;
}

.sort-order a:hover::before,
.sort-order a:focus::before {
  opacity: 0.4;
}

.sort-order a:active::before {
  opacity: 1;
}

.sort-order a.current::before {
  opacity: 1;
}

.catalog-list-wrapper {
  padding: 65px 0 72px 68px;
}

.catalog-list {
  width: 760px;
  padding: 5px;
  /* outline: 1px solid salmon; */
}

.catalog-list h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
}

.catalog-list ul {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list p {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
  text-align: right;
}

.catalog-list img {
  width: 360px;
  height: 380px;
}

/* .catalog-list button {
  display: none; 
}*/

button.to-cart,
button.to-comparison {
  display: block;
} 

button.to-cart {
  margin-top: 173px;
  min-width: 200px;
}

button.to-comparison:hover,
button.to-comparison:focus {
  color: rgba(0, 0, 0, 1);
}

button.to-comparison:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

button.to-comparison {
  margin-top: 5px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  
  background: transparent;
  border: none;
}

.catalog-list .buttons-overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background: rgba(238, 238, 238, 0.7);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.catalog-item {
  position: relative;
  margin-bottom: 45px;
}

.item-photo {
  display: block;
  width: 360px;
  height: 380px;
}

.item-text {
  margin-top: 33px;
  /* margin-bottom: 45px; */
}

.catalog-list h3,
.catalog-list p {
  margin: 0;
}

.catalog-list h3 {
  padding-right: 5px;
  max-width: 260px;
}

.catalog-item:hover .buttons-overflow {
  visibility: visible;
}

.catalog-item .flag-new {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  top: 28px;
  right: 28px;
  box-sizing: border-box;
    
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}


.catalog-list .catalog-navigation {
  background: #ebebeb;
  /* justify-content: center; */
  margin-top: -10px;
}

.catalog-navigation li:first-child {
  margin-right: auto;
}

.catalog-navigation li:last-child {
  margin-left: auto;
}

.catalog-navigation a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 22px;
  padding-bottom: 22px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation a.back-btn,
.catalog-navigation a.forward-btn {
  display: block;
  min-width: 136px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-navigation a.back-btn {
  text-align: left;
}

.catalog-navigation a.forward-btn {
  text-align: right;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-navigation a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-navigation a.current,
.catalog-navigation a.back-btn,
.catalog-navigation a.forward-btn {
  color: rgba(0, 0, 0, 1);
}

.catalog-navigation a.back-btn:hover,
.catalog-navigation a.forward-btn:hover,
.catalog-navigation a.back-btn:focus,
.catalog-navigation a.forward-btn:focus {
  background-color: #d9d9d9;
  outline: none;
}

.catalog-navigation a.back-btn:active,
.catalog-navigation a.forward-btn:active{
  color: rgba(0, 0, 0, 0.3);
  
  background-color: #d9d9d9;
  outline: none;
}

/* Стили для футера */

.site-footer {
  min-height: 260px;
  padding-top: 65px;
  background-color: #464646;
  color: #ffffff;
}

.site-footer.index-footer {
  margin-top: 80px;
}

.site-footer .flex-container {
  flex-wrap: wrap;
}

.footer-top {
  margin-bottom: 30px;
  /* outline: 1px solid goldenrod; */
}

.footer-middle {
  margin-bottom: 60px;
  align-items: baseline;
  /* outline: 1px solid goldenrod; */
}

.site-footer a {
  color: #ffffff;
}

.site-footer-logo {
  fill: #ffc600;
}

.footer-user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding-left: 0;
  margin: 0;

  /* outline: 1px solid goldenrod; */
}

.footer-user-menu a {
  position: relative;

  padding-left: 30px;
  margin-left: 32px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  top: 0;
}

.footer-user-menu a.user::before {
  background-image: url('../img/user-footer.svg');
  left: 3px;    
}

.footer-user-menu a.compare::before {
  background-image: url('../img/compare-footer.svg');
  left: 10px;    
}

.footer-user-menu a.cart::before {
  background-image: url('../img/cart-footer.svg');
  left: 8px;    
}

.footer-user-menu button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-menu .log-out {
  padding-right: 0;
  padding-left: 0;
  margin-left: 12px;
}

.footer-contacts,
.footer-contacts a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
}

.footer-middle address {
  width: 220px;
}

.footer-contacts.phone-number {
  text-align: right;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 430px;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.footer-site-navigation a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
}

.footer-bottom {
  position: relative;
}

.footer-bottom::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background: #ffc600;
  left: 0;
  top: 50%;
  margin-top: -3px;
}


.social-nets {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
}

.social-nets li {
  padding-left: 11px;
  padding-right: 11px;
}

.social-nets a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-nets a:hover,
.social-nets a:focus {
  opacity: 0.6;
}

.social-nets a:active {
  opacity: 0.1;
}

.social-nets .Facebook {
  background-image: url('../img/facebook.svg');
}

.social-nets .Instagram {
  background-image: url('../img/instagram.svg');
}

.social-nets .Twitter {
  background-image: url('../img/twitter.svg');
}

a.copyright {
  display: block;
  width: 27px;
  height: 35px;
  /* background-image: url('../img/html-academy.svg'); */
}

a.copyright:hover,
a.copyright:focus {
  opacity: 0.6;
}

a.copyright:active {
  opacity: 0.3;
}

/* Состояния ссылок в футере */

.site-footer-logo:hover,
.site-footer-logo:focus {
  outline: none;
  opacity: 0.6;
}

.site-footer-logo:active {
  outline: none;
  opacity: 0.3;
}

.footer-user-menu button:hover,
.footer-user-menu button:focus {
  outline: none;
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  /* outline: none; */
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before {
  opacity: 0.6;
}

.footer-user-menu a:active {
  /* outline: none; */
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-menu a:active::before {
  opacity: 0.3;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  /* display: none; */

  position: fixed;
  top: 10%;
  left: 50%;

  box-sizing: border-box;
  width: 960px;
  margin-left: -480px;

  box-shadow: 0 10px 20px rgba(04, 06, 06, 0.2);
}

.feedback-modal {
  padding: 80px;
  padding-top: 75px;

  background: rgba(255, 255, 255, 1);
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
   
  background: rgba(242, 242, 242, 1);
  border: none;
}

.feedback-form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background: rgba(234, 234, 234, 1);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background: rgba(255, 255, 255, 1);
  border: 3px solid #f0c52e;
  outline: none;
}

.feedback-form input:invalid {
  background: rgba(246, 218, 218, 1);
}

.feedback-form input {
  height: 50px;
}

.feedback-form fieldset {
  flex-shrink: 0;
  box-sizing: border-box;
  border: none;
  margin: auto;
  padding: 20px;
  padding-bottom: 15px;
}

.feedback-form .name,
.feedback-form .e-mail {
  width: 50%;
}

.feedback-form .text {
  width: 100%;
}

.feedback-form label {
  display: block;
  margin-bottom: 6px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.modal .close-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;

  background: url('../img/modal-close.svg');
  opacity: 0.5;
}

.modal .close-btn:hover,
.modal .close-btn:focus {
  opacity: 1;
  outline: none;
}

.modal .close-btn:active {
  opacity: 0.3;
  outline: none;
}

.feedback-form .submit-btn {
  margin-left: 20px;
  margin-top: 25px;
  min-width: 200px;
}

.map-modal {
  width: 960px;
  height: 560px;
  padding: 0;

  /* background: #efefef; */
}

.map-modal iframe {
  width: 100%;
  height: 100%;
}